<!doctype html>
<html lang="it">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Homepage User</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="stylesheet" type="text/css" href="/css/index.css">
</head>

<body>
<img src="Logo.png" alt="Logo" id="logo">
<h1 id="Nolo">
<%=nome%>
</h1>
<div><a href="login" id="storico">ACCEDI QUI</a></div>

</body>

</html>
