<!doctype html>
<html lang="1t">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="stylesheet" type="text/css" href="/css/login.css">
	<title>Login NoloQuidditch</title>
	
</head>

<body>
	<h1>NOLO QUIDDDITCH</h1>
	<form action="/login" method="post" id="login">
        <div class="UsPw"><label>Username</label></div>
       <div class="UsPw"><input type="text" name="username"></div>
        <div class="UsPw"><label>Password</label></div>
        <div class="UsPw"><input type="password" name="pass" id="password"></div>
        <div class="UsPw"><input type="submit" name="submit" value="accedi" id="button"></div>

		 
		</form>
</body>

</html>
