#nomeitem{
color: gold;
}

#bottone{
 background-color: gold;
  padding: 1%;
 font-family: "Luminari", fantasy;
 color: #191970;
}

#newprod{
  color: gold;
  font-family: "Luminari", fantasy;
  font-size: 150%;
  padding-left: 8%;
  padding-right: 12%;

}

#modificaprod{
 font-family: "Luminari", fantasy;
  font-weight: bolder;
  font-size: 125%;
   color:  #DAA520;
     margin: .5em 0 .75em;
}


table tr {
  background-color: #191970;
  border: 1px solid #ddd;
  padding: .35em;
  color: white;
}

table th,
table td {
  padding: .625em;
  text-align: center;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
 
#newprod{
  color: gold;
  font-family: "Luminari", fantasy;
  font-size: 120%;
 padding:  auto;
 text-align: center;
}

#modificaprod{
 font-family: "Luminari", fantasy;
  font-weight: bolder;
  font-size: 90%;
   color:  #DAA520;
 
}


  table {
    border: 0;
    margin:  auto;
  }

  table caption {
    font-size: 1.3em;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: center;
  }
  
  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}