#logo{
width: 8%;
padding-right: 3%;
margin-top: 2%;

}

#Nolo {
  color: gold;
  font-family: "Luminari", fantasy;
  font-size: 150%;
  padding-left: 2%;
}


#ourprod{
 font-family: "Luminari", fantasy;
  font-weight: bolder;
  font-size: 150%;
   color:  #DAA520;
     margin: .5em 0 .75em;

}

#descrizione{
  text-align: left;
}

.price{
  padding:  1%;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table thead{
   background-color: #191970;
   color: white;
}
table tr {
  border: 1px solid #ddd;
  padding: .35em;
}

tbody{
  color:  white;
  text-align: left;
}

#nome{
  color: gold;
  font-weight: bolder;
}

table th,
table td {
  padding: 1%;
  text-align: center;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

#pay{
  background-color: gold;
  padding: 1%;
 font-family: "Luminari", fantasy;
 color: #191970;
 text-align: center;
 margin-left: 35%;
 margin-right: 55%;
 margin-top: 5%;
 margin-bottom: 5%;
}

@media screen and (max-width: 600px) {

#Nolo{
text-align: center;
font-size: 120%;
padding-right: 2%;
padding-left: 7%;
}

#ourprod{
   padding-left: 15%;
  padding-right: none;
}


  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
    margin-left: 10%;
    margin-right: -5a%;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }

  #nome{
  color: gold;
  font-weight: bolder;
  text-align: center;
  font-size: 110%;
  background-color: #191970;
}
}













