#storico{
  color: gold;
  padding-left: 44%;
  padding top: 100%;
 text-align: center;
 font-size: 150%;
}

#Nolo {
  color: gold;
  font-family: "Luminari", fantasy;
  font-size: 300%;
  padding-top: -1%;
  padding-left: 10%;
  padding-right: 9%;
}

#logo{
width: 25%;
padding-top: 3%;
padding-left: 37%;
}

@media screen and (max-width: 600px) {

  #storico{
  color: gold;
  padding-left: 32%;
  padding-top: 100%;
  padding-bottom: -20%;
 text-align: center;
 font-size: 150%;
}

#Nolo {
  color: gold;
  font-family: "Luminari", fantasy;
  font-size: 250%;
  padding-top: 3%;
  padding-left: 9%;
  padding-right: 9%;
}

#logo{
width: 45%;
padding-top: 15%;
padding-left: 27%;
}
}