@media screen and (min-width: 480px) {
#login{
  margin-right: 50%;
  margin-left: 35%;
  margin-top: 20%;
  padding: 5%;
  height: 40%;
  border:  solid;
  border-color: gold;
  width: 20%;
}}

@media screen and (max-width: 375px) {
#login{
  margin-right: 25%;
  margin-left: 25%;
  margin-top: 70%;
  padding: 5%;
  height: 40%;
  border:  solid;
  border-color: gold;
  width: 40%;
}}

.UsPw{
text-align: center;
}

#password{
width: 100px;
  height: 65%;
  margin: 10px 10px;
  box-sizing: 3px 12px;
  border: none;
  background-color: #191970;
  padding: none;
  color:  white;
}

#button {
  background-color: gold;
}