h1{
  color: gold;
  font-family: "Luminari", fantasy;
}

.text{
  color: white;
}

#tasto{
  padding-top: 5%;
  padding-left: 3%;
}

#arrivederci{
  color: #DAA520;
  font-family: "Luminari", fantasy;
  font-size: 130%;
  padding-top: 3%;
  text-align: center;
}