
 body{
	background-color: #483D8B;
} 


form input[type=text]{

  width: 100px;
  height: 65%;
  margin: 10px 10px;
  box-sizing: 3px 12px;
  border: none;
  background-color: #191970;
  color: white;

}

label {
	color: gold;
}


h1{
text-align: center;
}

/*
#storico{
  background-color: gold;
  padding: 1%;
 font-family: "Luminari", fantasy;
 color: #191970;
}

#ourprod{
 font-family: "Luminari", fantasy;
  font-weight: bolder;
  font-size: 150%;
   color:  #DAA520;
     margin: .5em 0 .75em;

}

#int{
  background-color: #191970;
}
.intestazione{
  padding: 20%;
  border:  solid;
  border-width: medium;
  color: white;
}


#toptab{
  color:  white;
  font-family: "Luminari", fantasy;
  text-align: center;
  border: 1px solid #ddd;
  padding: .35em;
}


.th{
  padding: .625em;
  text-align: left;
  font-size: 70%;
  letter-spacing: .1em;
}

#dayprice{
  font-size: 90%;
}

#nome{
  color: gold;
  font-weight: bolder;
}

.price{
  text-align: center;
  color: white;
}

#descrizione{
  color: white;
}

#pay{
  background-color: gold;
  padding: 1%;
 font-family: "Luminari", fantasy;
 color: #191970;
 text-align: center;
 margin-left: 35%;
 margin-right: 55%;
}

#newprod{
  font-family: "Luminari", fantasy;
 color: gold;
 text-align: center;
}

.aggiungiform{
  border: none;
  background-color: #191970;
  padding: none;
  color:  white;
}

#modificaprod{
  font-family: "Luminari", fantasy;
 color: gold;
 text-align: left;
}

#nomeitem{
  color: gold;
}

.table{
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}


/*tr {
  border-width: 5px;
  border-color: #00008B;
}*/

@media screen and (min-width: 480px) {}

@media screen and (max-width: 375px) {}
/* EM e VH*/

/*floting*/
/*@media (max-width: 575px){
	#descrizione{

	}
}

id e classi
container e fai classe container */